.jumbotron{
    background-color: rgb(207, 94, 74);
    color: azure;
    font-size: 53px;
}

.container-Fomatado{
    background-color: white;
    padding: 36px;
    border-radius: 20px;
    width: 100%;
}

p{
    text-align: center;
    padding: 50px;
}
